{%extends 'base.html'%}

{% block content %}
{{block.super}}
<head>
  </div>

  <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script>
    function copyToClipboard(element) {
      $(element).select();
      document.execCommand("copy");
    }
  </script>
</head>



<div class="container">
  <div class="row">
    <h2 class="text-center" style ="color: white; font-size: 492%;">GALLERY HUB</h2>
  </div>

  <div class="row ">
    
    {% for pic in images %}
    <div class="col-md-4 " >
      <div class="well well-lg">
        <img  src="{{pic.image.url}}"  class = "img-responsive" alt="" height=415px;>
        <br>
        <br>
        <button onclick="copyToClipboard('#{{image.id}}-url')" style="background-color:skyblue; color:black;">Copy image link</button>
        
        <br>
      </div>
    </div>
    
    {% endfor %}
  
  </div>
</div>
{% endblock %}